body {font-family: 'Questrial', sans-serif;}

nav{background-color: #370d5c;}

nav .brand-logo{font-size: 3.9rem;}

.brand-logo img {max-height: 40px;}

#sidenav-overlay {position: relative;}

nav ul a:hover {
  background-color: #ff6606;
}

.side-nav {background-color: rgba(55, 13, 92, .75)}

.side-nav li > a {
  color: #FFFFFF;
  text-align: right;
}

.side-nav li:hover {
  background-color: #ff6606;
}

.side-nav a:hover {
  transform: translateX(-1.5rem);
  color: #FFF;
}

.section{
    width: 100%;
    min-height: 91vh;
    padding-top: 5rem;
}

#home {
    background-color: #ff6606;
    width: 100%;
}

h1{
   font-size: 2rem;
   text-align: center;
   color: white;
}

h2{
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

h3{
    text-align: center;
}

#objetivo {
    background-color: #ffcc00;
    text-align: center;
}

h4{
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5;
}

#recorrido { 
    background-color: #370d5c;
    text-align: center;
}

#contenido {
    background-color: #f50087;  
}

#tienda {
    background-color: #73c2fb;
}

#contacto {
    background-color: #ff6606;
    text-align: center;
}

p {
    color: white;
    text-align: justify;
}

ul {text-align: left;}

.white-text {text-align: left;}

.light, .page-footer .footer-copyright {
    background-color: #D45500;
}

article {
    text-align: center;
    font-size: 2rem;
}